# This repo is owned by the universal-publishing team, which is  administered by the FT Content Programme Team.
* @Financial-Times/universal-publishing
# This repo is supported by the metadata-team team.
* @Financial-Times/metadata-team
